
<!-- start credit card part -->
<div class="section-6">
  <div class="__row">
    <div class="right">
      <img src="../../assets/card.jpeg" alt="">
    </div>
    <div class="left">
      <div class="textCardPart">
        <h1>Apple Card <br>
          Monthly Installments</h1>
        <p>Pay for your new iPhone over 24 months, interest‑free with Apple Card.</p>
        <a href="/">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
      </div>
    </div>
  </div>
</div>
<!-- end credit card part  -->


<!-- start apple watch part -->
<div class="section-8">
  <div class="__row">
    <div class="right">
      <img src="../../assets/apple2.jpg" alt="">
    </div>
    <div class="left">
      <div class="textAppleWatch">
        <p><i class="fa fa-apple" aria-hidden="true"></i>Iphone + <i class="fa fa-apple" aria-hidden="true"></i>watch</p>
        <br>
        <p>Add them together. Multiply their power.</p>
        <a href="/">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
<!-- end apple watch part -->

<!--&lt;!&ndash; =================================end part credit card apple=========================================&ndash;&gt;-->

