<!-- iphone SE  -->

<div class="section-2">
  <div class="__row">
    <div class="left">
      <div class="text">
        <h3 class="firstH3">New</h3>
        <h3 class="secH3">IPhone <span>SE</span> </h3>
        <p>Lots to love. <br> Less to spend.</p>
        <h5>Starting at $399</h5>
        <h6>From $9.54/mo. or $229 with trade-in.*</h6>
        <button>Buy</button> <br>
        <a href="/">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
      </div>
    </div>
    <div class="right">
      <img src="../../assets/ISE.jpg" alt="iphoneSE">
    </div>
  </div>
</div>

<!-- end iphone SE -->
