<!-- start iphone 11 -->


<div class="section-3">
    <div class="__row">
        <div class="right">
            <img src="../../assets/Iphone11.jpeg" alt="iphone11">
        </div>
        <div class="left">
            <div class="text">
                <h3 class="firstH3">New</h3>
                <h3 class="secH3">IPhone 11</h3>
                <p>Just the <br> right amount <br> of everything. </p>
                <h6>From $18.70/mo. or $449 with trade-in.*</h6>
                <button>Buy</button> <br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>
        </div>
    </div>
</div>

<!--&lt;!&ndash; end iphone 11 &ndash;&gt;-->
