
<!-- black nav -->

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="#"><img src="../../assets/download.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Mac <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ipad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">iPhone</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">watch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">TV</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Music</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
        </li>
      </ul>
    </div>
  </nav>
<!-- end black nav -->


<!-- grey nav  -->

<div class="section-1">
    <div class="row">
        <div class="col-md-12">
            <ul>
                <a href="">
                    <img src="../../assets/i11.png" alt="">
                    <h6>Iphone 11</h6>
                </a>
                <a href="">
                    <img src="../../assets/i11pro.png" alt="">
                    <h6>Iphone 11 pro</h6>
                </a>
                <a href="">
                    <img src="../../assets/iSe.png" alt="">
                    <h6>Iphone se</h6>
                </a>
                <a href="">
                    <img src="../../assets/Iphonexr.jpg" alt="">
                    <h6>Iphone xr</h6>
                </a>
                <a href="">
                    <img src="../../assets/airpod.png" alt="">
                    <h6>airpods</h6>
                </a>
                <a href="">
                    <img src="../../assets/accessories.png" alt="">
                    <h6>accessories</h6>
                </a>
                <a href="">
                    <i class="fa fa-bug"></i>
                    <h6>accessories</h6>
                </a>
            </ul>
         
        </div>
    </div>
</div>


<!-- end grey nav  -->