
<!-- section iphone 11 pro -->

<div class="section-4">
  <div class="__row">
    <div class="left">
      <div class="text">
        <h3 class="firstH3">New</h3>
        <h3 class="secH3">IPhone 11 Pro </h3>
        <p>Pro cameras.</p>
        <p>Pro display.</p>
        <p>Pro performance</p>
        <h6>From $28.29/mo. or $679 with trade-in.*</h6>
        <button>Buy</button> <br>
        <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
      </div>
    </div>
    <div class="right">
      <img src="../../assets/iphone11pro.png" alt="iphone11pro">
    </div>
  </div>
</div>

<!--&lt;!&ndash; section iphone 11 pro &ndash;&gt;-->
