
<!-- section about "what make an iphone an Iphone" -->

<div class="section-9">
  <div class="row container">
    <div class="col-md-12">
      <div class="textSection9">
        <div class="colText">
          <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>
          <h2>Fast, free, no-contact delivery</h2>
          <h3>And free returns. See checkout for delivery dates.</h3>
          <a href="/">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
        <div class="colText">
          <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>
          <h2>Fast, free, no-contact delivery</h2>
          <h3>And free returns. See checkout for delivery dates.</h3>
          <a href="/">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <h1>What makes an iPhone an iPhone?</h1>
    </div>
    <div class="__top">
      <div class="one_example">
        <img src="../../assets/onlyIph.jpg" alt="">
        <div class="tcol">
          <h1>Only iPhone</h1>
          <p>No other phone is like Iphone</p>
          <a href="/">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="one_example">
        <img src="../../assets/onlyIph.jpg" alt="">
        <div class="tcol">
          <h1>Why Switch</h1>
          <p>Life is easier on iPhone</p>
          <a href="/">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- section about "what make an iphone an Iphone" -->
