






 /* start section 10 */

 .section-10{
    margin-top:100px;
    padding:10px 10px;
    margin-bottom: 200px;
 }

 .section-10 .row{
     overflow: hidden;
     text-align: center;
     width:90rem;
     margin:auto;
 }

 .section-10 .row .col-md-12 img{
     width:83rem ;
     z-index:4;
}

.section-10 .row .col-md-12 .textSec10{
    position: relative;
    margin-top: -2rem;
    background:rgba(255,255,255,0.6);
}

.section-10 .row .col-md-12 .textSec10 h3{
    font-family: var(--h1-Family);
    font-weight: bold;
    font-size:32px;
}

.section-10 .row .col-md-12 .textSec10 p{
    font-family: var(--h1-Family);
    font-weight: bold;
}

.section-10 .row .col-md-12 .textSec10 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:23px;
    margin:0 10px;
}


/* start  of the section 11 div */


.section-11{
    margin-top:100px;
    background:#FAFAFA;
    margin-bottom:50px;
}

.section-11 .row .col-md-6 .textSec11{
    text-align: center;
    margin-top: 110px;
}

.section-11 .row .col-md-6 .textSec11 h1{
    font-family: var(--h1-Family);
    font-weight: bold;
}

.section-11 .row .col-md-6 .textSec11 p{
    font-family: var(--h1-Family);
}

.section-11 .row .col-md-6 .textSec11 a{
    text-decoration: none;
    font-weight:bold;
}

.section-11 .row .col-md-6 img{
    width:40rem;
}


/* en of the section 11 div  */
