 /* import the global css file  */
@import '../../styles';
 /* start section-2 */

 .section-2{
     margin-top:150px;
 }

 .section-2 .row .col-md-6 img{
     width:30rem;
    margin-left:9rem;
 }

 .section-2 .row .col-md-6 .text{
     margin-left: 170px;
     margin-top:80px;
 }


 .section-2 .row .col-md-6 .text .secH3{
    font-weight:bold;
    margin-top: 4px;
    font-family: var(--h1-Family);
 }


 .section-2 .row .col-md-6 .text .secH3 span{
     border: 2px solid black;
     font-size: 10px;
     padding: 4px 4px;
     font-weight: bold;
     border-radius:7px;
 }

 .section-2 .row .col-md-6 .text p{
     font-size: 62px;
     font-weight: bold;
     font-family: var(--h1-Family);
 }

 .section-2 .row .col-md-6 .text h5{
    font-size:40px;
    font-weight:bold;
    font-family: var(--h1-Family);
 }

 .section-2 .row .col-md-6 .text .firstH3{
     font-size: 18px;
     color:var(--new-Color);
 }

 .section-2 .row .col-md-6 .text h5{
     margin-top: 5px;
 }

 .section-2 .row .col-md-6 .text button{
     background: var(--button-color);
     border: 1px solid var(--button-color);
     color:white;
     padding: 3px 3px;
     border-radius: 27px;
     width:60px;
     margin-top: 10px;
     font-family: var(--h1-Family);
 }

 .section-2 .row .col-md-6 .text a{
     text-decoration: none;
     margin-top: 1rem;
     font-size:20px;
     font-family: var(--h1-Family);
 }

 /* end section 1  */

 /* start section 3 */


 .section-3{
    margin-top:150px;
}

.section-3 .row .col-md-6 img{
    width:30rem;
   margin-left:9rem;
}

.section-3 .row .col-md-6 .text{
    margin-left: 170px;
    margin-top:80px;
}


.section-3 .row .col-md-6 .text .secH3{
   font-weight:bold;
   margin-top: 4px;
   font-family: var(--h1-Family);
}

.section-3 .row .col-md-6 .text p{
    font-size: 62px;
    font-weight: bold;
    font-family: var(--h1-Family);
}

.section-3 .row .col-md-6 .text h5{
   font-size:40px;
   font-weight:bold;
   font-family: var(--h1-Family);
}

.section-3 .row .col-md-6 .text .firstH3{
    font-size: 18px;
    color:var(--new-Color);
}

.section-3 .row .col-md-6 .text h5{
    margin-top: 5px;
}

.section-3 .row .col-md-6 .text button{
    background: var(--button-color);
    border: 1px solid var(--button-color);
    color:white;
    padding: 3px 3px;
    border-radius: 27px;
    width:60px;
    margin-top: 10px;
    font-family: var(--h1-Family);
}

.section-3 .row .col-md-6 .text a{
    text-decoration: none;
    margin-top: 1rem;
    font-size:20px;
    font-family: var(--h1-Family);
}

 /* end section 3 */



 /* start section 4 */


 .section-4{
    margin-top:150px;
}

.section-4 .row .col-md-6 img{
    width:30rem;
   margin-left:9rem;
   border-radius:10px;
}

.section-4 .row .col-md-6 .text{
    margin-left: 150px;
    margin-top:80px;
}


.section-4 .row .col-md-6 .text .secH3{
   font-weight:bold;
   margin-top: 4px;
   font-family: var(--h1-Family);
}


.section-4 .row .col-md-6 .text p{
    font-size: 52px;
    font-weight: bold;
    font-family: var(--h1-Family);
}

.section-4 .row .col-md-6 .text p ~ p{
    margin-top: -33px;
}

.section-4 .row .col-md-6 .text h5{
   font-size:40px;
   font-weight:bold;
   font-family: var(--h1-Family);
}

.section-4 .row .col-md-6 .text .firstH3{
    font-size: 18px;
    color:var(--new-Color);
}

.section-4 .row .col-md-6 .text h5{
    margin-top: 5px;
}

.section-4 .row .col-md-6 .text button{
    background: var(--button-color);
    border: 1px solid var(--button-color);
    color:white;
    padding: 3px 3px;
    border-radius: 27px;
    width:60px;
    margin-top: 10px;
    font-family: var(--h1-Family);
}

.section-4 .row .col-md-6 .text a{
    text-decoration: none;
    margin-top: 1rem;
    font-size:20px;
    font-family: var(--h1-Family);
}

 /* end section 4  */

 /* start section-5 */

 .section-5{
     margin-top: 120px;
     overflow-x: hidden;
 }

 .section-5 .row{
     margin-left: 90px;
 }

 .section-5 .row .col-md-12 .head{
     text-align: center;
 }

 .section-5 .row .col-md-12 ~ .col-md-12{
     align-items: center;
     flex-wrap: wrap;
     display: flex;
     margin-top: 75px;
 }

 .section-5 .row .col-md-12 .col-img{
     flex-basis: 25%;
 }

 .section-5 .row .col-md-12 .col-img img{
     width:100%;
 }



 .section-5 .row .col-md-12 .col-img .textVente{
     width:70%;
     margin: auto;
     text-align: center;
     overflow-y: hidden;
     font-family: var(--h1-Family);
}

.section-5 .row .col-md-12 .col-img .textVente h1{
    font-size: 22px;
}

.section-5 .row .col-md-12 .col-img .textVente h1 span{
    font-weight:bold;
}

.section-5 .row .col-md-12 .col-img .textVente button{
    border:1px solid var(--button-color);
    background:var(--button-color);
    padding: 2px 2px;
    font-weight:bold;
    font-family: var(--h1-Family);
    border-radius:10px;
    color:white;
    width:100px;
}


.section-5 .row .col-md-12 .col-img .textVente a{
    margin-top: 10px;
}


 /* end section-5 */