<app-part-iphone-se></app-part-iphone-se>


<app-part-iphone-eleven></app-part-iphone-eleven>

<app-part-iphone-eleven-pro></app-part-iphone-eleven-pro>

<!--&lt;!&ndash; start choose iphone part  &ndash;&gt;-->

<!--<div class="section-5">-->
<!--   <div class="row container">-->
<!--       <div class="col-md-12">-->
<!--           <div class="head">-->
<!--            <h1>Which IPhone is right for you?</h1>-->
<!--            <a href="">Compare all iPhone models <i class="fa fa-angle-right" aria-hidden="true"></i> </a>-->
<!--           </div>-->
<!--       </div>-->
<!--       <div class="col-md-12">-->
<!--           <div class="col-img">-->
<!--               <img src="../../assets/Iphone11.jpg" alt="iphone11pro">-->
<!--               <div class="textVente">-->
<!--                <h1>iPhone 11 Pro</h1>-->
<!--                <h3>Starting at $999</h3>-->
<!--                <p>Triple-camera system (Ultra Wide, Wide, Telephoto)</p>-->
<!--                <p>Up to 20 hours of video playback1</p>-->
<!--                <p>Water resistant to a depth of 4 meters for up to 30 minutes2</p>-->
<!--                <p>5.8” or 6.5” Super Retina XDR display3</p>-->
<!--                <button>buy</button><br>-->
<!--                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>-->
<!--               </div>-->
<!--           </div>-->
<!--           <div class="col-img">-->
<!--            <img src="../../assets/Iphone11.jpg" alt="iphone11pro">-->
<!--            <div class="textVente">-->
<!--                <h1>iPhone 11 </h1>-->
<!--                <h3>Starting at $999</h3>-->
<!--                <p>Dual-camera system (Ultra Wide, Wide)</p>-->
<!--                <p>Up to 17 hours of video playback1</p>-->
<!--                <p>Water resistant to a depth of 2 meters for up to 30 minutes2</p>-->
<!--                <p>6.1” Liquid Retina HD display3</p>-->
<!--                <button>buy</button><br>-->
<!--                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>-->
<!--               </div>-->
<!--        </div>-->
<!--        <div class="col-img">-->
<!--            <img src="../../assets/Iphone11.jpg" alt="iphone11 SE">-->
<!--            <div class="textVente">-->
<!--                <h1>iPhone 11 <span>SE</span></h1>-->
<!--                <h3>Starting at $999</h3>-->
<!--                <p>Dual-camera system (Ultra Wide, Wide)</p>-->
<!--                <p>Up to 17 hours of video playback1</p>-->
<!--                <p>Water resistant to a depth of 2 meters for up to 30 minutes2</p>-->
<!--                <p>6.1” Liquid Retina HD display3</p>-->
<!--                <button>buy</button><br>-->
<!--                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>-->
<!--               </div>-->
<!--        </div>-->
<!--        <div class="col-img">-->
<!--            <img src="../../assets/Iphone11.jpg"  alt="iphone XR">-->
<!--            <div class="textVente">-->
<!--                <h1>iPhone <span>XR</span> </h1>-->
<!--                <h3>Starting at $999</h3>-->
<!--                <p>Single-camera system (Wide)</p>-->
<!--                <p>Up to 16 hours of video playback1</p>-->
<!--                <p>Water resistant to a depth of 1 meters for up to 30 minutes2</p>-->
<!--                <p>6.1” Liquid Retina HD display3</p>-->
<!--                <button>buy</button><br>-->
<!--                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>-->
<!--               </div>-->
<!--        </div>-->
<!--       </div>-->
<!--   </div>-->
<!--</div>-->

<!--&lt;!&ndash; end choose iphone part  &ndash;&gt;-->



<!--&lt;!&ndash;====================start credit apple part============================  &ndash;&gt;-->

<!--&lt;!&ndash; start credit card part &ndash;&gt;-->
<!--<div class="section-6">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/card.jpeg" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <div class="textCardPart">-->
<!--                <h1>Apple Card <br>-->
<!--                    Monthly Installments</h1>-->
<!--                    <p>Pay for your new iPhone over 24 months, interest‑free with Apple Card.</p>-->
<!--                    <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; end credit card part  &ndash;&gt;-->

<!--<div class="section-7">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-6">-->
<!--            <div class="cardText">-->
<!--                <h1>Get up to $500 <br> toward a new iPhone</h1>-->
<!--                <p>With Apple Trade In, you can get credit toward a new <br>-->
<!--                     iPhone when you trade in an eligible smartphone <br>-->
<!--                     It’s good for you and the planet.</p>-->
<!--                     <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--            <img src="../../assets/iRose.jpg" alt="">-->

<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <div class="cardText">-->
<!--                <h1>The easiest way to <br> upgrade to the <br> latest iPhone.</h1>-->
<!--                <p>Join the iPhone Upgrade Program to get <br> the latest iPhone every year,-->
<!--                    low monthly <br> payments, and AppleCare+.5</p>-->
<!--                     <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--            <img src="../../assets/iRose.jpg" alt="">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<!--&lt;!&ndash; =================================end part credit card apple=========================================&ndash;&gt;-->





<!--&lt;!&ndash; start apple watch part &ndash;&gt;-->
<!--<div class="section-8">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/apple2.jpg" alt="">-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <div class="textAppleWatch">-->
<!--                <p><i class="fa fa-apple" aria-hidden="true"></i>Iphone + <i class="fa fa-apple" aria-hidden="true"></i>watch</p>-->
<!--                 <br>-->
<!--                   <p>Add them together. Multiply their power.</p>-->
<!--                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; end apple watch part &ndash;&gt;-->




<!--&lt;!&ndash; section about "what make an iphone an Iphone" &ndash;&gt;-->

<!--<div class="section-9">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-12">-->
<!--            <div class="textSection9">-->
<!--                <div class="colText">-->
<!--                    <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>-->
<!--                    <h2>Fast, free, no-contact delivery</h2>-->
<!--                    <h3>And free returns. See checkout for delivery dates.</h3>-->
<!--                    <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--                </div>-->
<!--                <div class="colText">-->
<!--                    <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>-->
<!--                    <h2>Fast, free, no-contact delivery</h2>-->
<!--                    <h3>And free returns. See checkout for delivery dates.</h3>-->
<!--                    <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <h1>What makes an iPhone an iPhone?</h1>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/onlyIph.jpg" alt="">-->
<!--            <div class="tcol">-->
<!--                <h1>Only iPhone</h1>-->
<!--                <p>No other phone is like Iphone</p>-->
<!--                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/onlyIph.jpg" alt="">-->
<!--            <div class="tcol">-->
<!--                <h1>Why Switch</h1>-->
<!--                <p>Life is easier on iPhone</p>-->
<!--                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->

<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/plain_black.jpg" style="height:30rem;margin-top:-10rem;" alt="">-->
<!--            <div class="tcol">-->
<!--                <h1>That's iPhone</h1>-->
<!--                <a href="">See all kinds of things iPhone can do <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/onlyIph.jpg" style="height:30rem;margin-top:-10rem;" alt="">-->
<!--            <div class="tcol">-->
<!--                <h1>On iPhone</h1>-->
<!--                <p>We believe that everyone can take great photos. Explore some tips and techniques-->
<!--                     to help you take even better ones.</p>-->
<!--                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; section about "what make an iphone an Iphone" &ndash;&gt;-->

<!--&lt;!&ndash; for the iphone TV plus &ndash;&gt;-->

<!--<div class="section-10">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-12">-->
<!--            <img src="../../assets/TVplus.jpg" alt="iphoneTV"/>-->
<!--            <div class="textSec10">-->
<!--                <h3>TV+</h3>-->
<!--                <p>Get 1 year of Apple TV+ free-->
<!--                when you buy an iPhone</p>-->
<!--                <a href="">Try it Free <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; end for the part about Ipjhone TVplus &ndash;&gt;-->


<!--&lt;!&ndash; research app part &ndash;&gt;-->

<!--<div class="section-11">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-6">-->
<!--            <div class="textSec11">-->
<!--                <h1>Introducing <br/> the Apple <br/> Research app</h1>-->
<!--                <p>the future of health is you</p>-->
<!--                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/research.png" alt="research"/>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--&lt;!&ndash; end research app part &ndash;&gt;-->
