<app-part-iphone-se></app-part-iphone-se>

<app-part-iphone-eleven></app-part-iphone-eleven>

<app-part-iphone-eleven-pro></app-part-iphone-eleven-pro>

<app-part-credit-apple></app-part-credit-apple>

<app-part-why-iphone></app-part-why-iphone>


<!--&lt;!&ndash; for the iphone TV plus &ndash;&gt;-->

<!--<div class="section-10">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-12">-->
<!--            <img src="../../assets/TVplus.jpg" alt="iphoneTV"/>-->
<!--            <div class="textSec10">-->
<!--                <h3>TV+</h3>-->
<!--                <p>Get 1 year of Apple TV+ free-->
<!--                when you buy an iPhone</p>-->
<!--                <a href="">Try it Free <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--&lt;!&ndash; end for the part about Ipjhone TVplus &ndash;&gt;-->


<!--&lt;!&ndash; research app part &ndash;&gt;-->

<!--<div class="section-11">-->
<!--    <div class="row container">-->
<!--        <div class="col-md-6">-->
<!--            <div class="textSec11">-->
<!--                <h1>Introducing <br/> the Apple <br/> Research app</h1>-->
<!--                <p>the future of health is you</p>-->
<!--                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--            <img src="../../assets/research.png" alt="research"/>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->



<!--&lt;!&ndash; end research app part &ndash;&gt;-->
