<!-- iphone SE  -->

<div class="section-2">
    <div class="row container ">
        <div class="col-md-6">
            <div class="text">
                <h3 class="firstH3">New</h3>
                <h3 class="secH3">IPhone <span>SE</span> </h3>
                <p>Lots to love. <br> Less to spend.</p>
                <h5>Starting at $399</h5>
                <h6>From $9.54/mo. or $229 with trade-in.*</h6>
                <button>Buy</button> <br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/ISE.jpg" alt="iphoneSE">
        </div>
    </div>
</div>

<!-- end iphone SE -->


<!-- start iphone 11 -->


<div class="section-3">
    <div class="row container ">
        <div class="col-md-6">
            <img src="../../assets/Iphone11.jpeg" alt="iphone11">
        </div>
        <div class="col-md-6">
            <div class="text">
                <h3 class="firstH3">New</h3>
                <h3 class="secH3">IPhone 11</h3>
                <p>Just the <br> right amount <br> of everything. </p>
                <h6>From $18.70/mo. or $449 with trade-in.*</h6>
                <button>Buy</button> <br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>
        </div>
    </div>
</div>

<!-- end iphone 11 -->


<!-- section iphone 11 pro -->

<div class="section-4">
    <div class="row container ">
        <div class="col-md-6">
            <div class="text">
                <h3 class="firstH3">New</h3>
                <h3 class="secH3">IPhone 11 Pro </h3>
                <p>Pro cameras.</p>
                <p>Pro display.</p>
                <p>Pro performance</p>
                <h6>From $28.29/mo. or $679 with trade-in.*</h6>
                <button>Buy</button> <br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/iphone11pro.png" alt="iphone11pro">
        </div>
    </div>
</div>

<!-- section iphone 11 pro -->

<!-- start choose iphone part  -->

<div class="section-5">
   <div class="row container">
       <div class="col-md-12">
           <div class="head">
            <h1>Which IPhone is right for you?</h1>
            <a href="">Compare all iPhone models <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
           </div>
       </div>
       <div class="col-md-12">
           <div class="col-img">
               <img src="../../assets/Iphone11.jpg" alt="iphone11pro">
               <div class="textVente">
                <h1>iPhone 11 Pro</h1>
                <h3>Starting at $999</h3>
                <p>Triple-camera system (Ultra Wide, Wide, Telephoto)</p>
                <p>Up to 20 hours of video playback1</p>
                <p>Water resistant to a depth of 4 meters for up to 30 minutes2</p>
                <p>5.8” or 6.5” Super Retina XDR display3</p>
                <button>buy</button><br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
               </div>
           </div>
           <div class="col-img">
            <img src="../../assets/Iphone11.jpg" alt="iphone11pro">
            <div class="textVente">
                <h1>iPhone 11 </h1>
                <h3>Starting at $999</h3>
                <p>Dual-camera system (Ultra Wide, Wide)</p>
                <p>Up to 17 hours of video playback1</p>
                <p>Water resistant to a depth of 2 meters for up to 30 minutes2</p>
                <p>6.1” Liquid Retina HD display3</p>
                <button>buy</button><br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
               </div>
        </div>
        <div class="col-img">
            <img src="../../assets/Iphone11.jpg" alt="iphone11 SE">
            <div class="textVente">
                <h1>iPhone 11 <span>SE</span></h1>
                <h3>Starting at $999</h3>
                <p>Dual-camera system (Ultra Wide, Wide)</p>
                <p>Up to 17 hours of video playback1</p>
                <p>Water resistant to a depth of 2 meters for up to 30 minutes2</p>
                <p>6.1” Liquid Retina HD display3</p>
                <button>buy</button><br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
               </div>
        </div>
        <div class="col-img">
            <img src="../../assets/Iphone11.jpg"  alt="iphone XR">
            <div class="textVente">
                <h1>iPhone <span>XR</span> </h1>
                <h3>Starting at $999</h3>
                <p>Single-camera system (Wide)</p>
                <p>Up to 16 hours of video playback1</p>
                <p>Water resistant to a depth of 1 meters for up to 30 minutes2</p>
                <p>6.1” Liquid Retina HD display3</p>
                <button>buy</button><br>
                <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
               </div>
        </div>
       </div>
   </div>
</div>

<!-- end choose iphone part  -->



<!--====================start credit apple part============================  -->

<!-- start credit card part -->
<div class="section-6">
    <div class="row container">
        <div class="col-md-6">
            <img src="../../assets/card.jpeg" alt="">
        </div>
        <div class="col-md-6">
            <div class="textCardPart">
                <h1>Apple Card <br>
                    Monthly Installments</h1>
                    <p>Pay for your new iPhone over 24 months, interest‑free with Apple Card.</p>
                    <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
            </div>
        </div>
    </div>
</div>
<!-- end credit card part  -->

<div class="section-7">
    <div class="row container">
        <div class="col-md-6">
            <div class="cardText">
                <h1>Get up to $500 <br> toward a new iPhone</h1>
                <p>With Apple Trade In, you can get credit toward a new <br>
                     iPhone when you trade in an eligible smartphone <br>
                     It’s good for you and the planet.</p>
                     <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <img src="../../assets/iRose.jpg" alt="">
           
        </div>
        <div class="col-md-6">
            <div class="cardText">
                <h1>The easiest way to <br> upgrade to the <br> latest iPhone.</h1>
                <p>Join the iPhone Upgrade Program to get <br> the latest iPhone every year, 
                    low monthly <br> payments, and AppleCare+.5</p>
                     <a href="">learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <img src="../../assets/iRose.jpg" alt="">
        </div>
    </div>
</div>


<!-- =================================end part credit card apple=========================================-->





<!-- start apple watch part -->
<div class="section-8">
    <div class="row container">
        <div class="col-md-6">
            <img src="../../assets/apple2.jpg" alt="">
        </div>
        <div class="col-md-6">
            <div class="textAppleWatch">
                <p><i class="fa fa-apple" aria-hidden="true"></i>Iphone + <i class="fa fa-apple" aria-hidden="true"></i>watch</p>
                 <br>
                   <p>Add them together. Multiply their power.</p>
                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- end apple watch part -->




<!-- section about "what make an iphone an Iphone" -->

<div class="section-9">
    <div class="row container">
        <div class="col-md-12">
            <div class="textSection9">
                <div class="colText">
                    <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>
                    <h2>Fast, free, no-contact delivery</h2>
                    <h3>And free returns. See checkout for delivery dates.</h3>
                    <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
                <div class="colText">
                    <h1><i class="fa fa-usd" aria-hidden="true"></i></h1>
                    <h2>Fast, free, no-contact delivery</h2>
                    <h3>And free returns. See checkout for delivery dates.</h3>
                    <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
            </div>
            <h1>What makes an iPhone an iPhone?</h1>
        </div>
        <div class="col-md-6">
            <img src="../../assets/onlyIph.jpg" alt="">
            <div class="tcol">
                <h1>Only iPhone</h1>
                <p>No other phone is like Iphone</p>
                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/onlyIph.jpg" alt="">
            <div class="tcol">
                <h1>Why Switch</h1>
                <p>Life is easier on iPhone</p>
                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
           
        </div>
        <div class="col-md-6">
            <img src="../../assets/plain_black.jpg" style="height:30rem;margin-top:-10rem;" alt="">
            <div class="tcol">
                <h1>That's iPhone</h1>
                <a href="">See all kinds of things iPhone can do <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/onlyIph.jpg" style="height:30rem;margin-top:-10rem;" alt="">
            <div class="tcol">
                <h1>On iPhone</h1>
                <p>We believe that everyone can take great photos. Explore some tips and techniques
                     to help you take even better ones.</p>
                <a href="">Learn more <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
           
        </div>
    </div>
</div>

<!-- section about "what make an iphone an Iphone" -->

