




 /* ================section-9======================= */
 .section-9{
     background:#F2F2F2;

 }

 .section-9 .row{
     margin: auto;
     padding: 40px 0;
 }

 .section-9 .row .col-md-12 h1{
     font-size:50px;
     text-align: center;
     margin-top: 100px;
     font-weight:bold;
 }

 .section-9 .row .col-md-12 .textSection9{
    display: flex;
    align-items:center;
 }

 .section-9 .row .col-md-12 .textSection9 .colText{
     flex-basis: 50%;
     text-align: center;
 }

 .section-9 .row .col-md-12 .textSection9 .colText h1{
     border:2px solid black;
     width:50px;
     border-radius:27px;
     margin-left: 250px;
 }

 .section-9 .row .col-md-12 .textSection9 .colText h2{
     font-weight:bold;
     font-size:20px;
 }

 .section-9 .row .col-md-12 .textSection9 .colText h3{
     font-size: 17px;
 }

 .section-9 .row .col-md-6{
     margin-top:100px;
     text-align: center;
 }


 .section-9 .row .col-md-6 img{
    width:35rem;
    z-index:1;
    border-radius:10px;
 }

 .section-9 .row .col-md-6 .tcol{
     top:-23.5rem;
     bottom: auto;
     position:relative;
     z-index:4;
     color:white;
     background:rgba(241, 237, 237, 0.01);
 }

 .section-9 .row .col-md-6 .tcol h1{
     font-weight:bold;
 }

 .section-9 .row .col-md-6 .tcol p{
     margin-top: -10px;
 }

 .section-9 .row .col-md-6 .tcol a{
    font-weight:bold;
 }
 /* ==============end section-9======================= */


 /* start section 10 */

 .section-10{
    margin-top:100px;
    padding:10px 10px;
    margin-bottom: 200px;
 }

 .section-10 .row{
     overflow: hidden;
     text-align: center;
     width:90rem;
     margin:auto;
 }

 .section-10 .row .col-md-12 img{
     width:83rem ;
     z-index:4;
}

.section-10 .row .col-md-12 .textSec10{
    position: relative;
    margin-top: -2rem;
    background:rgba(255,255,255,0.6);
}

.section-10 .row .col-md-12 .textSec10 h3{
    font-family: var(--h1-Family);
    font-weight: bold;
    font-size:32px;
}

.section-10 .row .col-md-12 .textSec10 p{
    font-family: var(--h1-Family);
    font-weight: bold;
}

.section-10 .row .col-md-12 .textSec10 a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:23px;
    margin:0 10px;
}


/* start  of the section 11 div */


.section-11{
    margin-top:100px;
    background:#FAFAFA;
    margin-bottom:50px;
}

.section-11 .row .col-md-6 .textSec11{
    text-align: center;
    margin-top: 110px;
}

.section-11 .row .col-md-6 .textSec11 h1{
    font-family: var(--h1-Family);
    font-weight: bold;
}

.section-11 .row .col-md-6 .textSec11 p{
    font-family: var(--h1-Family);
}

.section-11 .row .col-md-6 .textSec11 a{
    text-decoration: none;
    font-weight:bold;
}

.section-11 .row .col-md-6 img{
    width:40rem;
}


/* en of the section 11 div  */
