<hr/>

<div class="section-12">
    <div class="row container">
        <div class="loc-lumn">
            <h1>Shop and learn</h1>
            <p>
                Mac <br/>
                iPad <br/>
                Iphone <br/>
                Watch <br/>
                TV <br/>
                Music <br/>
            </p>
        </div>
        <div class="loc-lumn">
            <h1>Services</h1>
            <p>
                Apple Music <br/>
                Apple News + <br/>
                Apple TV+ <br/>
            </p>
            <h1>Services</h1>
            <p>
                Manage Your Apple ID <br/>
                Apple Store Account <br/>
            </p>
        </div>
        <div class="loc-lumn">
            <h1>Apple Store</h1>
            <p>
                Find a Store <br/>
                Shop Online <br/>
                Genius Bar <br/>
                Today at Apple <br/>
                Apple Camp<br/>
                Field Trip <br/>
            </p>
        </div>
        <div class="loc-lumn">
            <h1>For Business</h1>
            <p>
                Apple and Business <br/>
                Shop fr Business <br/>
            </p>
            <h1>For Education</h1>
            <p>
                Apple and Business <br/>
                Shop for K-12 <br/>
            </p>
        </div>
        <div class="loc-lumn">
            <h1>Apple Values</h1>
            <p>
                Accessibility <br/>
                Education <br/>
                Environment <br/>
                Inclusion and Diversity <br/>
                Privacy <br/>
                Supplier Responsibility <br/>
            </p>
        </div>
    </div>
</div>
